/* #212121 - основний колір (чорний) */
/* #757575 - другорядний колір (сірий) *
/* #FFFFFF - білий колір */
/* #2196F3 - колір акцент */

/* #FFFFFF - колір фону */
/* #2F303A - колір другорядного фону (сірий) */
/* #F5F4FA - колір другорядного фону (сірий темний) */
:root {
    --title-text-color: #212121 ;
    --primary-text-color: #757575 ;
    --accent-text-color: #2196F3 ;
    --second-text-color: #FFFFFF ;
    --button-background-color: #F5F5F5 ;
    --footer-background-color: #2F303A;
    --second-text-color-footer: rgba(255, 255, 255, 0.6);
    --second-background-color: #F5F4FA;
}
 

body {
    background-color: var(--second-text-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* приховала h */
.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

/*прибрала маркери */
.list {
    list-style: none;
}

/* header */


 /* logo header */
.decoration {
      text-decoration: none;
 }
.logo .web {
    color: var(--accent-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo .studio {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* site-nav */
.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-text-color);
}


/*contacts */
.contact {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.contact:hover, .contact:focus{
    color:var(--accent-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}

/* footer */

.footer {
    background-color: var(--footer-background-color)
}

.logo .studio-footer {
    color: var(--second-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* address foter */
.adress {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

address{
    font-style: normal;
}

.city {
    color: var(--second-text-color);
    text-decoration: none;
    line-height: 1.71;
    font-size: 14px;
    }
.city:hover, .city:focus{
    color: var(--accent-text-color);
    }

.contact-footer {
    color: var(--second-text-color);
    line-height: 1.71;
    font-size: 14px;
    }


/*main index*/
/* hero */
.hero{
    background-color: var(--footer-background-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
    text-transform: uppercase;
}

.button.primary {
    color: var(--second-text-color);
    background-color: var(--accent-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button.primary:hover, .button.primary:focus {
    color: var(--accent-text-color);
    background-color: var(--second-text-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
}

/*переваги*/
/* section title */
.section .section-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
/* section text  */
.section .section-text{
    color: var(--primary-text-color);
    line-height: 1.7;
}


/* section Чим ми займаємось*/
/* h2  */
.section .photos {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/*section наша команда*/
.team{
    background-color: var(--second-background-color);
}

.list .card{
    background-color: var(--second-text-color);
}

/* наша команда */
.section .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-title.members {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
}

.card-text.members {
        font-size: 16px;
        line-height: 1.18;
        color: var(--primary-text-color);
}




/*portfolio*/

/* button */
.button .secondary {
    color: var(--title-text-color);
    background-color: var(--button-background-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button .secondary:hover, .button .secondary:focus {
    color: var(--second-text-color);
    background-color: var(--accent-text-color);

}

/* title */
a .portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;
}
/* text */
a .portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
    text-decoration: none;
}